{% extends 'gallery/layout.html' %}

{% block content %}
<div class="content">
  <div class="head">
    <div class="cats d-flex justify-content-around">
    <div class="food">
      <a href=""> NATURE</a>
    </div>
    <div class="food">
      <a href=""> FOOD</a>
     
    </div>
    <div class="food">
      <a href=""> PEOPLE</a>
    </div>
    <div class="food">
      <a href="">FASHION</a>
    </div>
    <div class="food">
      <a href=""> BUSINESS</a>
    </div>
  
  </div>
    <h1>AS-GALLERIA</h1>
  </div>
  <div class="head">
    <h1>Find Quality Images</h1>
  </div>
  <div class="search">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>
{% endblock %}