{% extends 'gallery/layout.html' %}

{% block content %}
<div class="row">
  <div class="col-md-7">
    <div class="content">
      <div>
      <h1>AS-GALLERIA</h1>
    </div>
    <div class="head">
      <h1>Find Quality Images</h1>
    </div>
    <div class="search">
      <form action = "{% url 'search' %}" class="d-flex">
        <input id ='q' name = 'q' class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
  <div class="col-md-5">
    <h2>Categories</h2>
    <a href="{% url 'index' %}">All</a>
    {% for category in categories %}
    <li class="list-group-item">
      <a href="{% url 'index' %}?category={{category.name}}">{{category.name}}</a>
    </li>
    {% endfor %}
  </div>
  
</div> 

<section>
  <div class="container-fluid">
  <div class="images">
   {% for picture in pictures %}
   
      <div class = "eachImage">
       <a href="{% url 'details' picture.pk %}"><img class = "img" src="{{picture.image.url}}" alt="{{picture.image.name}}"></a>
      </div>
      
    
  {% endfor %}

  

</div>
  </div>
</section>
{% endblock %}