.img{
  height: 300px;
  width: 300px;
  
  
}
.images{
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: space-between;
  margin-top: 2rem;
  
}
.eachImage{
  padding: 2rem !important;
}
.imagedetails{
  height: auto;
  width: 600px;
  
}