.img{
  height: 400px;
  width: 400px;
  
  
}
.images{
  margin: 2rem 0;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: space-between;
  margin-top: 2rem;
  
}
.eachImage{
  padding: 2rem !important;
}
.imagedetails{
  height: auto;
  width: 600px;
  
}