.img{
  height: 400px;
  width: 400px;
  
}
.images{
  margin: 2rem 0;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: space-between;
  
}
.cats{
  display: flex;
  
}